<div class="mt-3 mx-5">
    <div class="login-title mt-4 mx-3">
      <h1><%= @user.username %></h1>
      <%= t('.detail') %>
    </div>
    <div class="mt-3">
    </div>
    <div class="mt-3">
    </div>
    <br>

</div>