<div class="mt-3 mx-5">
    <div class="login-title mt-4 mx-3">
      <h1><%= @user.username %></h1>
      <%= t('.detail') %>
    </div>
    <div class="mt-3">
      <%= turbo_frame_tag :products, src: products_path(user_id: @user.id) %>
    </div>
    <br>

</div>